<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- Other application elements -->

        <service
                android:name="com.google.firebase.messaging.FirebaseMessagingService"
                android:exported="true"
                tools:replace="android:exported">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!-- Other application elements -->
    </application>
</manifest>
